# Project files
build

# OS
.DS_Store
thumbs.db

# Source maps
*.js.map

# Editor/IDE files
*.iml
*.ipr
*.iws
.idea
.project
*.sublime-workspace
nb-configuration.xml
nbactions.xml
nbproject/private

# Bower
bower_components

# Node
node_modules
